[Unit]
Description=CMaNGOS Game Server
After=mysql

[Install]
WantedBy=multi-user.target

[Service]
User=ubuntu
Group=ubuntu

WorkingDirectory=/home/ubuntu/run/bin
ExecStart=/home/ubuntu/run/bin/mangosd

Restart=always
RestartSec=5s